<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ong</title>
</head>
<body>
    <h1>Doação</h1>
<form action="/" method="post">
    {% csrf_token %}
    <label for="">Nome</label>
    <input nome="nome" type="text" required>
    <label for="">Sobrenome</label>
    <input nome="sobrenome" type="text" required>
    <label for="">Data de nascimento</label>
    <input nome="data_de_nascimento" type="date" required>
    <label for="">CPF</label>
    <input nome="cpf" type="text" required>
    <label for="">CEP</label>
    <input nome="cep" type="text" required>
    <label for="">Item de doação</label>
    <input nome="item_de_doacao" type="text" required>
    <input type="submit" value="Enviar">
</form>
    <a href="index/sobre">Sobre</a>
</body>
</html>