<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ong</title>
</head>
<body>
    <h1>Doação</h1>
    <h3>formulário</h3>
    <input placeholder="Nome" type="text"><input type="button" value="Enviar">
    <input placeholder="Sobrenome" type="text"><input type="button" value="Enviar">
    <input placeholder="data de nascimento" type="date"><input type="button" value="Enviar">
    <input placeholder="CPF" type="text"><input type="button" value="Enviar">
    <input placeholder="CEP" type="text"><input type="button" value="Enviar">
    <input placeholder="Item de doação" type="text" ><input type="button" value="Enviar">
    <a href="../templates/Sobre.html">Sobre</a>
</body>
</html>